.btn-primary {
  width: 175px;
  height: 42px;
  background-color: var(--hover-color);
  border-radius: 39px;
  border: none;
  color: #fff;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn-primary span:nth-child(1) {
  font-size: 20px;
}
.btn-primary:hover {
  box-shadow: 0 0 5px var(--hover-color);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 490px;
  height: 406px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 13px;
  padding: 20px;
  z-index: 9999;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out forwards;
}
.popup.fadeOut {
  animation: fadeOut 0.3s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  margin-top: 41px;
}

.popup-content label {
  margin-bottom: 5px;
  color: #06163a;
}

.popup-content input {
  font-family: "Inter";
  margin-bottom: 10px;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 39px;
  padding-left: 29px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #8c8c8c;
}
.popup-content input:focus {
  outline: none;
  border-color: var(--hover-color);
  box-shadow: 0 0 5px var(--hover-color);
}

.popup-content .error {
  color: red;
  margin-bottom: 10px;
}

.popup-content .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  column-gap: 18px;
}
.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  color: #33363f;
  cursor: pointer;
}

.popup-content .btn-primary {
  width: 83px;
}

.btn-secondary {
  width: 83px;
  border: none;
  background: #f5f7ff;
  border-radius: 34px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: var(--hover-color);
}

/*! CREATE DATA RESPONSİVE START  */
@media (max-width: 550px) {
  .popup {
    width: 350px !important;
  }
  .btn-primary {
    width: 120px;
    font-size: 12px;
    column-gap: 5px;
  }
  .btn-primary span:nth-child(1) {
    font-size: 10px;
  }
}
/*! CREATE DATA RESPONSİVE END  */
