.app-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
}
.app-mt {
  margin-top: 3rem;
}

.rdt_Table {
  overflow-x: auto !important;
  max-height: 500px !important;
}
.svYMe {
  margin-right: auto !important;
}
#pagination-last-page {
  display: none !important;
}
#pagination-first-page {
  display: none !important;
}

.rdt_TableCell:nth-child(2),
.rdt_TableCell:nth-child(3){
  
  border-right: 1px solid #C4CEE5;
}
.rdt_TableCol:nth-child(2),
.rdt_TableCol:nth-child(3){
  border-right: 1px solid #C4CEE5;
}
.rdt_TableHeadRow{
  border-bottom: 1px solid #C4CEE5 !important;
}
.rdt_Pagination{
  border-top: 1px solid transparent !important;
}
.hbgCLW:not(:last-of-type) {
  border: none !important;
}

@media (max-width: 599px) {
  .fimDOL {
    width: 100%;
    justify-content: space-around;
  }
  .svYMe {
    margin-right: 0 !important;
  }
}
